<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--指定应用名称-->
    <dubbo:application name="dubbo_provider"></dubbo:application>
    <!--指定服务注册中心-->
    <dubbo:registry address="zookeeper://192.168.1.200:2181"></dubbo:registry>
    <!--指定dubbo使用的协议跟端口-->
    <dubbo:protocol name="dubbo" port="20890"></dubbo:protocol>
    <!--指定包扫描-->
    <dubbo:annotation package="com.itcast.service.impl"></dubbo:annotation>
</beans>